<h5>Customers</h5>

<div class="border">
    <button type="button" class="btn btn-primary btn-new-customer" (click)="openCustomerDetailsModal()">
        <i class="fa fa-user"></i> New customer</button>
</div>

<div *ngIf="searchText">
    Showing results for : {{ searchText }}
</div>

<table class="table table-bordered table-striped" id="customerList">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>
                <button class="btn btn-sm btn-info btn-customer-details" (click)="openCustomerDetailsModal(customer, 'edit')">
                    <i class="fa fa-search"></i>Details</button>
                <button class="btn btn-sm btn-danger" (click) = "openDeleteDialog(contentDelete, customer)">
                    <i class="fa fa-remove"></i>Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to delete this record?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteCustomer()">Yes</button>
        <button class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
    </div>
</ng-template>